/* Inline form sets styling */

/* Remove the string versions of the inline objects */
.inline-group .tabular td.original p {
    display: none;
}

/* Adjust top padding of the first inline item */
.inline-group .tabular tr.has_original td {
    padding-top: 8px;
}

/* Center the checkboxes and close buttons in the Delete column */
td.delete {
    text-align: center;
    vertical-align: middle;
}

td.delete div {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

td[class*="field-"] {
    vertical-align: middle;
}

thead th:not([class]) {
    text-align: center;
}
