{% extends "admin/change_form.html" %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate "Strona główna" %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
  &rsaquo; {% if add %}{{ title }}{% else %}{% translate "Edytuj obiekt" %}: {{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
