{% extends 'admin/change_form_object_tools.html' %}

{% load i18n admin_urls %}

{% block object-tools-items %}
{# Include approvement/disapprovment button to the object tools #}
{% if opts.model.requires_approval %}
  <li>
    {% if original.approved %}
      <a href="{% url opts|admin_urlname:'disapprove' original.pk %}">{% translate "Oznacz jako niezatwierdzony" %}</a>
    {% else %}
      <a href="{% url opts|admin_urlname:'approve' original.pk %}">{% translate "Zatwierdź" %}</a>
    {% endif %}
  </li>
{% endif %}

{{ block.super }}
{% endblock %}
