{% extends "admin/change_list.html" %}

{% load i18n admin_list %}

{% block extrastyle %}
{{ block.super }}

{% if cl.model.requires_approval %}
<style>
  th.sortable.column-{{ cl.model.APPROVAL_STATUS_FIELD_NAME }},
  td.field-{{ cl.model.APPROVAL_STATUS_FIELD_NAME }} {
      text-align: center;
  }
</style>
{% endif %}
{% endblock %}

{% block filters %}
  {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2>{% translate "Filtry" %}</h2>
      {% if cl.has_active_filters %}
      <h3 id="changelist-filter-clear">
        <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Usuń wszystkie filtry" %}</a>
      </h3>
      {% endif %}
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    </div>
  {% endif %}
{% endblock %}
